.purple{
  background-color:purple!important
}
.bela{
  color:white!important
}
.filterBox{
  width:100%;
  max-width: 100%;
  height: auto;
  background: #eaeaea;
  padding-left: 10px;
  border:1px solid #ccc;
  border-radius:10px;
  margin-bottom:7px;
  font-size:14px!important
}
.reducecontrol{
  height:24px
}
.reducebtn{
  height:24px;
  font-size:10px
}
.reducediv{
  width:200px
}
@-moz-document url-prefix() {
.filterBox input{
  margin-right: 5px;
}

}
.p5 {
  padding:5px!important
}
.white{
  color:white!important;
  padding:5px
}
.white:hover{
  color:white
}
.m-top-10{
  margin-top:10px
}
.boxed{
  box-sizing: border-box;
}
